
.navbarMobile{
    display: none;

@media only screen and (max-width: 600px){
    display: block;
    position: fixed;
    bottom: 30px;
    z-index: 99;
    margin: 0;
    border-radius: 25px;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 50px;
    background-color:#3F4E4F;
    }
}
.navImgSplitter{
    width:15px;
    height: 35px;
    margin: 0;
    padding: 0;
  
}

.imgWrapper{
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin: 10px;
}

.navImg{
    width:33px;
    z-index: 99;
}   

nav {
    display: flex;
    flex-direction: row;
    margin: 0 10px 10px 0;
    width: 100%;
    background-color: #3F4E4F ;
    height: 90px;
    
}



#personalInfo {
    width: 75%;
    margin-left: 50px;
    align-self: center;
    color: rgb(204, 204, 204);
    overflow: hidden;
}

#personalInfo h3{
   font-size: 25px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.info p {
    font-size: 15px;
}

#pageTabs {
    float: right;
    width: 60%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pageTabs a {
    margin: 20px;
    color: #DCD7C9;
    text-decoration: none;
}


#pageTabs a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 600px){
    #projectsSection ,#skillsSection, #recommendationsSection, .certificates{
        width: 90%;
    }
    #projectsSection h2,#skillsSection h2, .certificates h2 ,#recommendationsSection h2{
        text-align: center;
    }
    #pageTabs{
        display: none;
    }
    
    .navbar{
       display: none;
    }
    #personalInfo{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
       
    }
    #personalInfo h3{
        text-align: center;
    }
    
}


