
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Press+Start+2P&display=swap');
#aboutMeSection {
    display: flex;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-items: center;

}

#aboutMeSection h2{
    font-size: 3rem;
    letter-spacing: 10px;
    word-spacing: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: "Jersey 20", sans-serif;


}

.infoWrapper{
    display: none;
}
#personOnPC {
    width: 250px;
    height: 250px;

}
#aboutMe p{
    width: 100%;
    margin-left: 25px;
    line-height: 1.5;
    text-align: justify;

}
#aboutMeTitle .personalLinkIcons{
    width: 15px;
    height: 15px;
    margin: 0;
    margin-left: 5px;
}

#aboutMeTitle{
    display: flex;
    align-items: center;    
    gap: 5px;

}

#aboutMeTitle span{
    font-size: 12px;
    margin-top: 10px;

}


.aboutMeSectionLinks{
    display: flex;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}

.aboutMeSectionLinks ul{
    list-style: none;
    display: flex;
    
   
}

.personalLinkIcons{
    width: 15px;
    height: 15px;
    margin-right: 8px;
}
.aboutMeSectionLinks ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 0px 10px;
    
}
 .headerSpan{
    font-size: 30px;
    align-items: center;
    text-transform: uppercase;
}

.headerSpan :first-child{
    color: #d8a720;
    font-weight: bold;
 font-family: "Press Start 2P", system-ui;
 font-size: 30px;
    
}
#aboutMeTitle .headerSpan{
    font-size: 20px;
    margin: 0;
    text-transform: capitalize;
}

.personalLinkIcons{
    width: 25px;
    height: 25px;
}






@media only screen and (max-width: 600px){
    #projectsSection ,#skillsSection, #recommendationsSection, .certificates{
        width: 90%;
    }
    #projectsSection h2,#skillsSection h2, .certificates h2 ,#recommendationsSection h2{
        text-align: center;
    
    }
    
#aboutMeSection h2{
   
    margin-left: 0px;
    font-size: 2rem;
    letter-spacing: 2.5px;
    word-spacing: 5px;
    text-transform: uppercase;

}
    #personalInfo{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
       
    }
    #personalInfo h3{
        text-align: center;
    }
    #aboutMeSection {
        flex-wrap: wrap;
    }
    #personOnPC{
        display: none;
    }
    #aboutMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #aboutMe p {
        width: 100%;
        margin: 0 0;
    }
     #aboutMe h2 {
        margin-top: 0;
    }
    #aboutMeTitle{
        display: flex; 
        flex-direction: column;
    }
    #aboutMeTitle span{
        margin: 0;
        margin-bottom: 10px;

    }
    #headerSpan{
        word-spacing: 1rem;
        letter-spacing: 4px;
    }
    
.aboutMeSectionLinks{
    display: flex;
    width: 100%;
    margin: 0;
}
    .aboutMeSectionLinks ul{
        align-items: center;
        margin-top: 10px;
        width: 100%;
        justify-content: space-evenly;
    }
     .aboutMeSectionLinks ul li{
        margin:5px;
        width: 100%;        
    }
    
.infoWrapper{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    }
.infoImg{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    }
    .infoContact{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px;

    }
    .mail{
        width: 100%;
        height: 45px;
    }
}


