
footer {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    background-color: #3F4E4F ;
    height: 70px;
    
@media only screen and (max-width: 600px){
    height: 25px;
    margin: 0;
    }
}

footer h4{
    color: rgb(204, 204, 204);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;


}

