* {
    padding: 0;
    margin: 0;
    text-justify: auto;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0 10px 10px 0;
    width: 100%;
    background-color: #32323d ;
    height: 90px;

}




.square{
    width: 60px;
height: 60px;
background-color: #4e6bff;
opacity: 0.7;
position: absolute;
top: -60;
left: -60;
z-index: -1;
animation: square 25s linear alternate infinite;
}

@keyframes square {
    to{
        transform: translate(100vw, 100vh);
    }

    
}

.circle{
    
width: 100px;
height: 100px;
background-color: #ff97af;
position: absolute;
top: 200px;
left: -100px;
z-index: -1;
border-radius: 50%;
animation: circle 25s linear alternate infinite;
}


@keyframes circle {
    to{
        transform: translate(100vw, -100vh);
    }

}

.rectangle{
    
width: 50px;
height: 100px;
background-color: #669966;
position: absolute;
top: 400px;
left: -50px;
z-index: -1;
opacity: .5;
animation: rect 25s linear alternate infinite;
}


@keyframes rectangle {
    to{
        transform: translate(100vw, -50vh);
    }


}

#personalInfo {
    width: 75%;
    margin-left: 50px;
    align-self: center;
    color: beige;
    overflow: hidden;
}

#personalInfo h3{
   font-size: 25px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info img {
    width: 15px;
    height: 12px;
    margin-right: 5px;
}

.info p {
    font-size: 15px;
}

#pageTabs {
    float: right;
    width: 60%;
    align-self: center;

}

#pageTabs a {
    margin: 20px;
    color: beige;
    text-decoration: none;
}


#pageTabs a:hover {
    text-decoration: underline;
    font-weight: bold;
}


#aboutMeSection {
    display: flex;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-items: center;

}

#aboutMeSection h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

h2 {
    color: #32323d;
}

#aboutMeSection img {
    width: 250px;
    height: 250px;

}
#aboutMe p{
    width: 100%;
    margin-left: 25px;
    line-height: 1.5;

}


.aboutMeSectionLinks{
    display: flex;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutMeSectionLinks ul{
    list-style: none;
    display: flex;
    
   
}

.aboutMeSectionLinks img{
    width: 15px;
    height: 15px;
    margin-right: 8px;
}
.aboutMeSectionLinks ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 0px 10px;
    
}



hr {

    border: 1px solid #32323d;
    width: 50%;
    margin: auto;
    margin-top: 25px;
}




#skillsSection {
    width: 75%;
    margin: auto;
    margin-top: 50px;
}

#skillCard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skillCard {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: .5px solid #32323d;
    margin: 10px;
    margin-bottom: 25px;
    box-shadow: -3px 5px 8px #888888;
    align-items: flex-start;

}
.skillCardItem {
    display: flex;
}

.skillCardItem img {
    width: 25px;
    height: 25px;
    margin: auto;
}

.skillCardItem p {
    margin: 10px 5px;
    font-size: 1rem;
}
.experienceP {
    margin: auto;
    width: fit-content;
    font-size: small;
}

#projectsSection {
    margin: auto;
    width: 75%;
    margin-top: 50px;
    position: relative;
}

.projectContent {
    margin: 25px;
}


.projectContent ul, .certificateContent {
    margin-left: 5%;
}


.projectContent ul>:first-child{
    font-size: 17px;
}

.projectContent ul li{
    line-height: 1.4;
    margin: 5px;
}


.certificateContent{
    margin-top:15px;
}
.certificates {
    margin: auto;
    width: 75%;
    margin-top: 50px;
    position: relative;
}
.certificateContent p{
    font-weight: 500;
}


.certificateContent ul li{
      line-height: 1.4;
        margin: 5px;
}

.certificateList{
    margin-left: 10%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content:   space-between;
    list-style: none;
}

#recommendationsSection {
    width: 75%;
    margin: auto;
    margin-top: 50px;
    position: relative;
    height: 90%;   
}

#recommendCard {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;

}

.recommendCard {
    width: 25%;
    border: 1px solid #32323d;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}


.recommendCard p{
    font-style: italic;
}

.recommendCard p:before {
    content: open-quote;
}

.recommendCard p:after {
    content: close-quote;
}

.recommendCard h5{
    padding: 5px;
    

}
#leaveRecommendationSection{
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: column;
}

#leaveRecommendationSection input{
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border:1px solid #32323d;

}

#leaveRecommendationSection h2{
margin-bottom: 10px;

}
#leaveRecommendationSection textarea{
    padding: 10px;
    border-radius: 10px;
    border:1px solid #32323d;


}
#leaveRecommendationSection button{
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    padding: 8px;
    margin: auto;
    margin-top: 10px;
    background-color: transparent;
    color: #32323d;
    font-weight: bold;
    border:1px solid #32323d;
    margin-bottom: 50px;
}

#goUpBtn {
    float:right;
    margin:25px;
    background-color: transparent;
    border:none;
      
}
#goUpBtn img{
    width:50px;
    height: 50px;

}


.alert{
    position:fixed;
    top:50%;
    left:50%;
    padding:20px;
    border-radius:10px;
    box-shadow:0 10px 5px 0 #000022;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    transform: translateX(-50%);
    background-color : #32323d;
    color: beige;
}
.alert button{
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    padding :5px;
}
@media only screen and (max-width: 600px){
    #projectsSection ,#skillsSection, #recommendationsSection, .certificates{
        width: 90%;
    }
    #projectsSection h2,#skillsSection h2, .certificates h2 ,#recommendationsSection h2{
        text-align: center;
    }
    #pageTabs{
        display: none;
    }
    
    .navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #personalInfo{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
       
    }
    #personalInfo h3{
        text-align: center;
    }
    #aboutMeSection {
        flex-wrap: wrap;
    }
    #aboutMeSection img{
        width: 100%;
        height: min-content;
    }
    #aboutMe p {
        width: 100%;
        margin: 0 0;
    }
     #aboutMe h2 {
        margin-top: 20px;
    }
    .aboutMeSectionLinks ul{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
     .aboutMeSectionLinks ul li{
        margin:10px;
        width: 100%;
        
        
    }

    #skillCard{
        justify-content: center;
    }
    .skillCardItem{
        margin-left:20%;
    }
    .skillCard{
        width: 50%;
    }

    .certificateList{
        align-items: center;
        width: 100%;
        margin:auto;
        margin-top: 10px;
        flex-direction: column;
    }
    .certificateName{
        margin-left: 30px;
    }

    .certificateContent{
        margin-left: 0px;
    }
    
    #recommendCard {
        justify-content: center;
    }
    .recommendCard{
        width: 80%;
    }
    #leaveRecommendationSection{
        flex-wrap: wrap;
        width: 100%;
    }
}


