* {
    padding: 0;
    margin: 0;
      scroll-behavior: smooth;

    text-justify: auto;
    color:#DCD7C9
}

html{
    overflow-x: hidden;
    /* background-color: #31363F; */
    /* background-color: #252526; */
    /* color: #EEEEEE; */
}
h2{
    color:#A27B5C
}

body{
    background-color: #2C3639;
}
a{    color: #DCD7C9;
}

hr {

    border: 1px solid #000000;
    width: 50%;
    margin: auto;
    margin-top: 25px;
}
/* 





.square{
    width: 60px;
height: 60px;
background-color: #4e6bff;
opacity: 0.7;
position: absolute;
top: -60;
left: -60;
z-index: -1;
animation: square 25s linear alternate infinite;
}

@keyframes square {
    to{
        transform: translate(100vw, 80vh);
    }

    
}

.circle{
    
width: 100px;
height: 100px;
background-color: #ff97af;
position: absolute;
top: 200px;
left: -100px;
z-index: -1;
border-radius: 50%;
animation: circle 25s linear alternate infinite;
}


@keyframes circle {
    to{
        transform: translate(100vw, -100vh);
    }

}

.rectangle{
    
width: 50px;
height: 100px;
background-color: #669966;
position: absolute;
top: 400px;
left: -50px;
z-index: -1;
opacity: .5;
animation: rectangle 25s linear alternate infinite;
}


@keyframes rectangle {
    to{
        transform: translate(100vw, -50vh);
    }


}



@media only screen and (max-width: 600px){
    
@keyframes square {
    to{
        transform: translate(90vw, 25vh);
    }

    
}
}

*/